/* list.css */

/* 사용할 폰트 설정 */
@font-face {
  font-family: "Ownglyph_meetme-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* 전반적인 페이지 스타일 */
body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

/* 페이지 헤더 */
header {
  font-family: "Ownglyph_meetme-Rg";
  background-color: #1e1e1e;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

h1 {
  font-size: 40px;
  margin: 0;
  cursor: pointer;
}

/* 검색 입력 필드 */
input[type="text"] {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #333;
  background-color: #333;
  color: #ffffff;
}

/* 버튼 */
button {
  font-size: 20px;
  font-family: "Ownglyph_meetme-Rg";
  padding: 7px;
  border: none;
  border-radius: 4px;
  background-color: #ffa500;
  color: #000000;
  cursor: pointer;
}

/* 메인 컨테이너 */
main {
  padding: 20px;
}

/*사이드 바*/
nav.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: #1e1e1e;
  overflow-x: hidden;
  transition: left 0.3s;
  z-index: 1000;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

nav.sidebar .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

nav.sidebar .profile .profile-img-container {
  position: relative;
  width: 100px;
  height: 100px;
}

nav.sidebar .profile .profile-img-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

nav.sidebar .profile .profile-img-container .loading-spinner {
  display: none; /* 기본적으로 숨김 */
  position: absolute;
  top: 30%;
  left: 28%;
  width: 40px;
  height: 40px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s linear infinite;
  transform: translate(-50%, -50%);
}

nav.sidebar .profile .nickname {
  margin: 10px 0px;
  font-size: 18px;
}

nav.sidebar .profile button {
  padding: 5px 10px;
  background-color: #ffa500;
  color: #000000;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

nav.sidebar .menu {
  font-family: "Ownglyph_meetme-Rg";
  list-style: none;
  padding: 10px; /* 패딩 추가 */
  margin: 10px 0; /* 마진 추가 */
  flex-grow: 1;
  max-height: 400px; /* 최대 높이를 설정하여 스크롤이 생기도록 */
  overflow-y: auto; /* 세로 스크롤을 활성화 */
}

/* 스크롤바의 너비 설정 */
nav.sidebar .menu::-webkit-scrollbar {
  width: 12px;
}

/* 스크롤바의 트랙(배경) 스타일 */
nav.sidebar .menu::-webkit-scrollbar-track {
  background: #1e1e1e; /* 트랙 배경색 */
  border-radius: 10px; /* 테두리 반경 */
}

/* 스크롤바의 손잡이 스타일 */
nav.sidebar .menu::-webkit-scrollbar-thumb {
  background-color: #ffa500; /* 손잡이 색상 */
  border-radius: 10px; /* 테두리 반경 */
  border: 3px solid #1e1e1e; /* 손잡이 테두리 */
}

/* 스크롤바의 손잡이 위로 마우스를 올렸을 때 스타일 */
nav.sidebar .menu::-webkit-scrollbar-thumb:hover {
  background-color: #ff7f00; /* 손잡이 색상 (호버 시) */
}

nav.sidebar .menu-item {
  font-size: 24px;
  position: relative;
  margin-bottom: 20px; /* 각 메뉴 아이템 사이에 마진 추가 */
  cursor: default; /* 기본 커서로 변경 */
}

nav.sidebar .menu-item > a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
}

nav.sidebar .submenu {
  display: none;
  background-color: #1e1e1e; /* submenu 배경색 */
  list-style: none;
  padding: 10px 0px 0px 8px; /* 서브메뉴 패딩 추가 */
  margin: 0;
  opacity: 0;
  animation: slideFromTop 0.5s ease forwards; /* 페이드인 애니메이션 */
}

@keyframes slideFromTop {
  from {
    opacity: 0;
    transform: translateY(-10px); /* 위에서 아래로 -10px 이동합니다. */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* 이동하지 않고 원래 위치로 돌아옵니다. */
  }
}

nav.sidebar .submenu.visible {
  display: block; /* 'visible' 클래스가 추가되면 서브메뉴를 보이게 합니다 */
}

nav.sidebar .submenu-item {
  margin-bottom: 10px; /* 서브메뉴 아이템 간격 추가 */
  border-bottom: 1px solid #ffffff; /* 메뉴 아이템 구분선 추가 */
  cursor: default; /* 기본 커서로 변경 */
}

nav.sidebar .submenu-item:hover {
  background-color: rgb(
    0,
    0,
    0,
    0.3
  ); /* 마우스를 올렸을 때 변경할 배경색 (검정색의 30% 투명도) */
}

nav.sidebar .submenu-item:last-child {
  margin-bottom: 0; /* 마지막 서브메뉴 아이템은 아래에 마진 제거 */
}

nav.sidebar .submenu-item > a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px); /* 위에서 아래로 나타나는 효과 */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 게시판 헤더 및 항목 스타일 */
#board-header,
.board-item {
  cursor: default;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #1e1e1e;
  border-bottom: 1px solid #333;
}

#board-header {
  cursor: default;
  font-size: 26px;
  font-family: "Ownglyph_meetme-Rg";
  font-weight: bold;
  background-color: #333;
}

.board-header-item,
.board-item div {
  flex: 1;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.board-item h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.board-item:hover {
  background-color: #333;
}

/* 페이지네이션 스타일 */
#pagination {
  margin-top: 20px;
  text-align: center;
}

.page-link {
  margin: 0 5px;
  cursor: pointer;
}

.page-link.active {
  font-weight: bold;
}

/* 추가 스타일 */
.red-text {
  color: red;
}

/* 검색 바 컨테이너 */
.search-container {
  text-align: center; /* 내부 요소들을 수평 중앙 정렬 */
  margin: 20px auto; /* 위 아래 여백은 20px, 좌우는 자동으로 중앙 정렬 */
  width: 50%; /* 필요에 따라 조절 가능 */
}

/* 검색 바 */
.search-bar {
  display: inline-block; /* 내부 요소를 가로로 정렬하기 위해 인라인 블록 요소로 설정 */
}

.search-bar input {
  padding-top: 10px;
  padding-bottom: 7px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
}

.search-bar button {
  font-family: "Ownglyph_meetme-Rg";
  font-size: 20px;
  padding: 4px 10px;
  margin-left: 2px;
  border: none;
  border-radius: 4px;
  background-color: #ffa500;
  color: #000000;
  cursor: pointer;
}
