/* 이미지 슬라이드 */
.slider-container {
  font-family: "Ownglyph_meetme-Rg";
  position: relative;
  max-width: 100%;
  margin: 20px 10px;
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-btn {
  position: absolute;
  bottom: 20px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
}

.slider-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.slider-dots {
  display: none;
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: none;
  width: 10px;
  height: 10px; /* 변경: 10%에서 10px로 */
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}

.image-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  overflow-x: scroll; /* 스크롤바를 항상 표시하여 마우스로 스크롤할 수 있게 합니다 */
  margin: 15px;
  gap: 10px;
  -ms-overflow-style: none; /* IE 및 Edge용 스크롤바 숨김 */
  scrollbar-width: none; /* Firefox용 스크롤바 숨김 */
}

.image-gallery img {
  max-width: 95%;
  height: auto;
  margin: 0 5px;
  border-radius: 5px;
  transition: transform 0.3s;
}

.image-gallery::-webkit-scrollbar {
  display: none; /* Webkit 기반 브라우저(Chrome, Safari 등)용 스크롤바 숨김 */
}

.image-gallery img:hover {
  transform: scale(1.06);
}

.slider-btn {
  text-decoration: none; /* 밑줄 없애기 */
}
